body {
	background-image: url('../images/snowy_forest.jpg');
	background-size: cover;
}

/*Add background to the sides on bigger screen sizes*/
@media (min-width: 800px) {
	body {
		margin-right: 30px;
		margin-left: 30px;
	}
}

@media (min-width: 1600px) {
	body {
		margin-top: 25px;
		margin-right: 80px;
		margin-left: 80px;
	}
}

/*Main content*/
.grid-container {
/*	background: linear-gradient(to top, #FDFDFD00, #02110A66);*/
	display: grid;
	grid-template-columns: 1.7fr;
	/* Adding non-auto heights to rows interferes with longer text lengths */
	grid-gap: 3px;
}

.grid-item-1 {
	line-height:1.6;
	font-size:18px;
	color: #444;
	padding:0 10px;
	background-color: lightgrey;
	border: solid 1.5px;
	border-color: #7698b7;
	padding-top: 4px;

	display: inline-grid;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	/* padding-top: 5px; */
	border: solid;
	border-color: #9c99c647;
}

#context {
	white-space: pre-wrap;
}

.disscussion, .reaction, .label_left, .label_right{
	line-height:1.6;
	font-size:18px;
	color: #444;
	padding:0 10px;
}

.meter_label {
	writing-mode: horizontal-tb;
	grid-column: 1;
	justify-self: center;
	align-self: center;
}

/*-----------------------*/
.grid-item-2 {
	background-color: lightgrey;
	border: solid;
	border-color: #0070ff33;
	display: inline-grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: min-content min-content min-content min-content;
	border-color: #0064ff54;
}

.disscussion {
	grid-column: 1 / -1;
}

.label_right {
	grid-column: 1;
	justify-self: right;
	padding-right: 15px;
	padding-top: 3px;
	grid-row: 2;
}

.label_left {
	justify-self: left;
	grid-column: 3;
	padding-top: 3px;
	padding-left: 15px;
	grid-row: 2;
}

.slider {
  width: 1fr;
  height: 30px;
  grid-column: 2;
  grid-row: 2;
}

.confirm_button {
	grid-column: 2;
  grid-row: 3;
  width: 10vh;
  height: 5vh;
  justify-self: center;
}

/*.confirm_button:hover {
	background-color:#e0f3fff2;
	border-block: snow;
	border-radius: 4.2px;
}*/

.reaction {
	grid-column: 1/4;
  grid-row: 4;
  justify-self: center;
}