body {
	background-color: black;
	margin-top: 28px;
}

@media (max-width: 500px) {
	body {
		margin-top: 0;
	}
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

img {
	box-shadow: 0px -3px 15px 3px rgba(247, 247, 247, 0.11);
}

@media (max-width: 500px) {
	img {
		height: 60vh;
	}
}

/*Add space above top of button*/
p {
	padding-bottom: 30px;
	color: #dfdce3;
}

.seperator {
	width: 417px;
}

.title {
	font-size: 41px;
}

@media (min-width: 500px) {
	.title {
	font-size: 58px;
	}
}

.tagline {
	font-size: 20px;

}

.play {
	width: 270px;
	height: 50px;
	font-size: 20px;
}