body {
	background-color: black;
	margin-top: 28px;
}

@media (max-width: 500px) {
	body {
		margin-top: 0;
	}
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #444;
}

img {
	border: solid;
	border-color: #292a6c42;
	border-width: 7px;
}

@media (max-width: 500px) {
	img {
		height: 60vh;
	}
}

/*Add space above top of button*/
p {
	padding-bottom: 30px;
	color: #dfdce3;
}

.seperator {
	width: 385px;
}

.title {
	font-size: 45px;
}

.tagline {
	font-size: 20px;
	justify-self: center;
}

.play {
	width: 270px;
	height: 50px;
	font-size: 20px;
}